@mixin main-font {
	font-family: 'Titillium Web', Verdana, Helvetica, Arial, sans-serif;
}

@mixin beer-font {
	font-family: 'Germania One', cursive;
}

@mixin code-font {
	font-family: 'Cutive Mono', monospace;
}